*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Lato', sans-serif; 
}

/* first part style */

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: rgba(229, 84, 115, 0.10);
    background-size: cover;
}
.first-part-image {
 width: 635px;
 height: 800px;
 padding: 50px 240px 0px 0px;
}
.first-part-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 240px;
}
.first-part-title{
    width: 700px;
    padding-bottom: 32px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.first-part-content{
    width: 635px;
    padding-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.btn-primary {
    width: 170px;
    text-align: center;
    padding: 20px 40px;
    background:#E55473;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}
/* second-part-style */

.second-part{
    background-color: #FFFFFF;
}
.second-part-container{
    padding-top: 170px;
    text-align: center;
    padding-bottom: 48px;  
}
.title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}
.content{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 594px;
    margin: auto;
}
.image-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.just-img1{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}
.img1{
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;
}
.just-img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}
.img2 {
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 47px;

}
.just-img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}
.img3 {
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}
.img-title {
    padding-top: 32px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

.icon-container {
    background-color: rgba(39, 39, 39, 0.05);
    margin: 130px auto;
    background-position: center;
    border-radius: 8px;
    width: 1440px;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 85px 0px;
    text-align: center;
}
.icon-paragraph{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
}
/* 3rd part style */

.third-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 180px;
}
.third-part-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third-part-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
    width: 537px;
}
.one {
    color: #E55473;
}
.third-part-content {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 594px;
    padding-bottom: 32px;
}
